body{
	padding:0;
	margin:0;
	ffont-family: montserratReg;
	background:#fff;
	position:relative;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: montserratReg;
}	
p{
	margin:0;
	font-family: montserratReg;
	letter-spacing:1px;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--team--*/
.team-grids {
       margin: 4em 0 1em 0;
}
.team-grid:nth-child(4),.team-grid:nth-child(5),.team-grid:nth-child(6){
	margin:4em 0 0 0;
}
.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    border-radius: 50%;
    width: 100%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.circle.effect10 .img {
  z-index: 11;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect10.colored .info {
  background: #1a4a72;
}
.ih-item.circle.effect10 .info {
    background: #B0CE2D;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect10 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect10 .info p {
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect10:hover .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
section.banner-w3ls2 {
  background:url(../../images/donate.jpg);
  background-position:center;
  background-attachment:fixed;
  background-repeat:no repeat;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:350px;
}
section.banner-w3ls3 {
  background:url(../../images/Donate1.jpg);
  background-position:center;
  background-attachment:fixed;
  background-repeat:no repeat;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:350px;
}
.ih-item.circle.effect10.top_to_bottom .info h3 {
  margin: 0 30px;
  padding: 25px 0 0 0;
  height: 78px;
}
.ih-item.circle.effect10.top_to_bottom .info p {
  margin: 0 30px;
  padding: 5px;
}
.ih-item.circle.effect10.top_to_bottom:hover .img {
  -webkit-transform: translateY(50px) scale(0.5);
  -moz-transform: translateY(50px) scale(0.5);
  -ms-transform: translateY(50px) scale(0.5);
  -o-transform: translateY(50px) scale(0.5);
  transform: translateY(50px) scale(0.5);
}

.ih-item.circle.effect10.bottom_to_top .info h3 {
        margin: 7.5em 0 1em 0;
    font-size: 1.2em;
    color: #FFF;
	    letter-spacing: 2px;
}
.ih-item.circle.effect10.bottom_to_top .info p {
  margin: 0 30px;
  padding: 5px;
}
.ih-item.circle.effect10.bottom_to_top:hover .img {
  -webkit-transform: translateY(-50px) scale(0.5);
  -moz-transform: translateY(-50px) scale(0.5);
  -ms-transform: translateY(-50px) scale(0.5);
  -o-transform: translateY(-50px) scale(0.5);
  transform: translateY(-50px) scale(0.5);
}
.icons ul{
	padding:0;
	margin:0;
}
.icons ul li{
	display:inline-block;
}
.icons ul li.team-twitter{
	margin:0 1em;
}
.icons ul li a{
	color: #FFFFFF;
    text-align: center;	
}
.icons ul li a:hover{
	opacity:.5;
}
.center-container {
    padding: 0em;
    background: #606060;
}
.footer {
  background: #000;
  text-align: center;
  padding: 4em 0;
}
.footer p {
  color: #fff;
}
/*-- //team --*/
/*--responsive--*/
@media(max-width: 1680px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1600px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1440px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1366px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1280px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1080px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1050px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 1024px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 991px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 800px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 768px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media (max-width: 767px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 736px){
	.team-grid {
		float: left;
		width: 50%;
	}
	.team-grid:nth-child(3), .team-grid:nth-child(4), .team-grid:nth-child(5), .team-grid:nth-child(6) {
		margin: 2.5em 0 0 0;
	}
    .thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 667px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 640px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 600px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 568px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 480px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 414px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 384px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 375px){
	.thecontent {
        padding: 0px 40px;
    }
}
@media(max-width: 320px){
	.thecontent {
        padding: 0px 40px;
    }
}
/*--//responsive--*/