.h3{
	color: #000 !important;
}

footer{
	 background: #606060 !important;
	padding:4em 0 !important;
}
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/
body {
	font-family: Museo;
}
/*-- navigation effects --*/

/*-- /navigation effects --*/
/*-- 1st banner section --*/
section.banner-w3ls {
	position:relative;
}
.header { 
	margin:0 auto;
	padding:0;
}
.bgfader{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: none;
}
.bgfader-overlay{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bgfader > .image{
	display: none;
}

.bgfader, .bgfader > .image{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	background-attachment:fixed;
}
section.banner-w3ls h2.text-center {
	font-size: 65px;
    font-weight: normal;
    padding:360px 0 40px;
    color: #fff;
	line-height:90px;
    font-family: Museo;
}
section.banner-w3ls p.text-center {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:35px;
}
/*-- /1st banner section --*/
/*-- specialization section --*/
section.special-w3layouts {
	padding:100px 0;
}
section.special-w3layouts p.text-center  {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
section.special-w3layouts img.img-responsive {
	width:100px;
	height:auto;
	margin:0 auto;
}
section.special-w3layouts h4.text-center {
	font-size:22px;
	font-weight:normal;
	color:#000;
	padding:20px 0;
	text-transform:capitalize;
	font-family: Museo;
}
section.special-w3layouts p.special-p1 {
	font-size:15px;
	font-weight:normal;
	color:#999;
	text-align:center;
	line-height:30px;
}
/*-- /specialization section --*/
/*-- 1st info section --*/
section.info-w3ls,section.info-w3ls2,section.info-w3ls3 {
	padding:70px 0;
}
section.info-w3ls i.fa,section.info-w3ls2 i.fa,section.info-w3ls3 i.fa {
	font-size:27px;
	font-weight:thin;
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	color:#fff;
	margin:0 auto;
	display:block;
	background-color:#60605F;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
section.info-w3ls h3.text-center,section.info-w3ls2 h3.text-center,section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
	font-size:36px;
	font-weight:600;
	color: #251021;
	text-transform: uppercase;
	padding:20px 0 60px;
	font-family: montserratReg;
	position:relative;
}
section.info-w3ls h3.text-center:after,section.info-w3ls2 h3.text-center:after,section.info-w3ls3 h3.text-center:after,section.special-w3layouts h3.text-center:after  {
	content: '';
    height: 5px;
    width: 230px;
    position: absolute;
    left: 40%;
    bottom: 19%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
section.info-w3ls p.text-center,section.info-w3ls2 p.text-center,section.info-w3ls3 p.text-center{
	font-size:17px;
	font-weight:normal;
	color:#000;
	line-height:30px;
}
/*-- /1st info section --*/
/*-- 2nd banner section --*/
section.banner-w3ls2 {
	background:url(../../images/vision.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	height: 350px;
}

li{
	list-style: none;
}
section.banner-w3ls2 h3.text-center,section.banner-w3ls3 h3.text-center {
	font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    padding:150px 0 40px;
    color: #fff;
	line-height:90px;
    font-family: montserratReg !important;
}
/*-- /2nd banner section --*/
/*-- 2nd info section --*/

/*-- /2nd info section --*/
/*-- 3rd banner section --*/
section.banner-w3ls3 {
	background:url(../../images/mission.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:350px;
}
section.banner-w3ls31 {
	background:url(../images/business.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:550px;
}
section.banner-w3ls32 {
	background:url(../../images/skyline.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:350px;
}
.whitebackgroundbody {
	height: 400px;
}
/*-- /3rd banner section --*/
/*-- footer info section --*/

/*-- /footer info section --*/
/*-- /footer section --*/
/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0,0,0, 0.5) url(../images/cd-top-arrow.svg) no-repeat center 50%;
      background-size: 40px;
	  -webkit-background-size:40px;
	  -moz-background-size:40px;
	  -o-background-size:40px;
	  -ms-background-size:40px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
    z-index: 9999;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #000;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/
/*-- inner pages banner --*/
section.inner-w3ls {
	background:url(../images/banner1.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	min-height:450px;
}
section.inner-w3ls h2.text-center {
	font-size: 65px;
    font-weight: normal;
    padding:175px 0 40px;
    color: #fff;
	line-height:90px;
	font-family: Museo;}
section.inner-w3ls p.text-center {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:35px;
}
.column {
	margin:0;
	padding:0;
}
.column:last-child {
	padding-bottom:0px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
figure {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.hover01 figure img {
	width:100%;
	height:auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/*-- /inner pages banner --*/
/*-- About Page --*/
section.about-w3ls,section.team-w3ls,section.cust-agileits,section.service-w3ls,section.service-agileits,section.work-w3ls,section.shipment-w3ls,section.transit-w3ls,section.contact-us,section.contact-w3ls {
	padding:50px 0;
}
section.about-w3ls i.fa, section.team-w3ls i.fa, section.cust-agileits i.fa, section.service-w3ls  i.fa,section.service-agileits i.fa,section.work-w3ls i.fa,section.shipment-w3ls i.fa,section.transit-w3ls i.fa,section.contact-us i.fa,section.contact-w3ls i.fa {
	font-size:27px;
	font-weight:thin;
	width:70px;
	height:70px;
	text-align:center;
	line-height:70px;
	color:#fff;
	margin:0 auto;
	display:block;
	background-color:#33accc;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
section.about-w3ls h3.text-center,section.team-w3ls h3.text-center,section.cust-agileits h3.text-center,section.service-w3ls h3.text-center,section.service-agileits h3.text-center,section.work-w3ls h3.text-center,section.shipment-w3ls h3.text-center,section.transit-w3ls h3.text-center, section.contact-us h3.text-center,section.contact-w3ls h3.text-center {
 	font-size:50px;
	font-weight:normal;
	color:#000;
	padding:20px 0 60px;
	font-family: Museo;
	position:relative;
}
section.about-w3ls h3.text-center:after,section.team-w3ls h3.text-center:after,section.cust-agileits h3.text-center:after,section.service-w3ls h3.text-center:after,section.service-agileits h3.text-center:after,section.work-w3ls h3.text-center:after,section.shipment-w3ls h3.text-center:after,section.transit-w3ls h3.text-center:after,section.contact-us h3.text-center:after,section.contact-w3ls h3.text-center:after {	
	content: '';
    background-color: #33accc;
    height: 5px;
    width: 230px;
    position: absolute;
    left: 40%;
    bottom: 19%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
section.about-w3ls p {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:40px;
	text-align:center;
}
section.team-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
section.team-w3ls h4 {
	font-size:20px;
	font-weight:normal;
	color:#000;
	padding:10px 0;
	text-transform:uppercase;
	font-family: Museo;
}
section.team-w3ls p.team-p1 {
	font-size:16px;
	font-weight:normal;
	color:#999;
}
section.team-w3ls ul.social-icons1 {
}
section.team-w3ls ul.social-icons1 li {
	display:inline-block!important;
	margin:1px!important;
	padding:10px 0;
}  
section.team-w3ls ul.social-icons1 li a {
	text-decoration:none;
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-facebook{
	color:#fff;
	background-color:#3b5998;
	width:30px;
	height:30px;
	line-height:30px;
    font-size: 16px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	/*-- Agile ITS --*/
	-ms-transition:0.5s all;
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-facebook:hover {
	background-color:#17233E;
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-twitter {
	color:#fff;
	background-color:#55acee;
	width:30px;
	height:30px;
	line-height:30px;
    font-size: 16px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-twitter:hover {
	background-color:#1F435F;
} 
section.team-w3ls ul.social-icons1 li a i.fa.fa-linkedin {
	color:#fff;
	background-color:#e68523;
	width:30px;
	height:30px;
	line-height:30px;
    font-size: 16px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-linkedin:hover {
	background-color:#794612;
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-google-plus {
	color:#fff;
	background-color:#dc4e41;
	width:30px;
	height:30px;
	line-height:30px;
    font-size: 16px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	text-align:center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;	
}
section.team-w3ls ul.social-icons1 li a i.fa.fa-google-plus:hover {
	background-color:#69251F;
}
section.cust-agileits p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
/*-- /About Page --*/
/*-- service page --*/
section.service-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
section.service-w3ls h5 {
	font-size:18px;
	font-weight:normal;
	color:#000;
	padding:0 0 20px;
	text-transform:uppercase;
	text-align:center;
	font-family: Museo;
}
section.service-w3ls p.serv-p1 {
	font-size:14px;
	font-weight:normal;
	line-height:30px;
	color:#999;
	padding-bottom:10px;
	text-align:center;
} 
.ch-grid {
	margin:0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 0 20px 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
	
}

.ch-info {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	
	z-index: 100;
	box-shadow: 
		inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info .ch-info-back {
	background: rgba(230,132,107,0);
}

.ch-img-1 { 
	background-image: url(../images/serv-img1.jpg);
}

.ch-img-2 { 
	background-image: url(../images/serv-img2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/serv-img3.jpg);
}

.ch-img-4 { 
	background-image: url(../images/serv-img4.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 25px;
	padding: 40px 0 0 0;
	height: 90px;
	font-family: Museo;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: Museo;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}


.ch-item:hover .ch-info-front {
	-webkit-transform: rotate3d(1,0,0,-180deg);
	-moz-transform: rotate3d(1,0,0,-180deg);
	-o-transform: rotate3d(1,0,0,-180deg);
	-ms-transform: rotate3d(1,0,0,-180deg);
	transform: rotate3d(1,0,0,-180deg);
	
	box-shadow: 
		inset 0 0 5px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
	background: rgba(230,132,107,0.6);
}
section.service-agileits p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h4 {
    font-weight: normal;
    font-size: 25px;
    text-transform: capitalize;
    line-height: 45px;
    color: #42B4C8;
    padding-bottom: 20px;
	font-family: Museo;
}
.marketing p.serv-p2 {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
}
.featurette-divider {
  margin: 80px 0; 
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*-- /service page --*/
/*-- Our work page --*/
/*-- works section --*/
section.work-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	padding-bottom:40px;
	line-height:35px;
	color:#999;
}
section.work-w3ls .portfolio-grids {
    padding: 0;
}
/******** SAP ************/
section.work-w3ls .sap_tabs{
	clear:both;
	padding: 0;
}
section.work-w3ls .tab_box{
	background:#fd926d;
	padding: 2em;
}
section.work-w3ls .top1{
	margin-top: 2%;
}
section.work-w3ls .resp-tabs-list {
    list-style: none;
    padding: 4em 0 3em;
    margin: 0 auto;
    text-align: center;
}
section.work-w3ls .resp-tab-item {
    color: #333;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.5em 0;
}
section.work-w3ls .resp-tab-active {
    text-shadow: none;
    color: #fc4f6b;
    border-bottom: 2px solid;
}
section.work-w3ls .resp-tabs-container {
	padding: 0px;
	clear: left;	
}
section.work-w3ls h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
section.work-w3ls .resp-tab-content {
	display: none;
}
section.work-w3ls .resp-content-active, section.work .resp-accordion-active {
   display: block;
}
section.work-w3ls .portfolio-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
section.work-w3ls .portfolio-grids img.img-responsive {
    width: 100%;
}
section.work-w3ls .b-wrapper {
    background:rgba(0,0,0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
	padding: 2em;
	transition:.5s all;
	text-align:center;
	opacity:0.01;
}
section.work-w3ls .portfolio-grids a:hover .b-wrapper{
	top: 0%;
	opacity:1;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    color: #fff;
    font-size: 70px;
    padding-top: 90px;
    width: initial;
    background: none;
    height: initial;
    line-height: normal;
}
section.work-w3ls .gallery-grids{
	margin:0;
}
section.work-w3ls . > li.active > a, section.work-w3ls > li.active > a:hover, section.work-w3ls .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor:pointer;
    background-color:#33accc;
    border: none;
    border-bottom-color: transparent;
}
section.work-w3ls > li > a {
	margin-right: 3px;
    border-radius: 0;
    font-size: 17px;
    color: #000000;
    border: none;
    font-weight: normal;
}	
section.work-w3ls  {
    border-bottom: none;
	margin: 0 0 40px;
}
section.work-w3ls  > li {
    margin-bottom: 0;
}
section.work-w3ls  > li:nth-child(1) {
	margin-left:46em;
}
section.work-w3ls  > li > a:hover {
    border: none;
}
section.work-w3ls  > li > a:hover, section.work-w3ls  > li > a:focus {
    background-color: #33accc;
    color: #fff;
}
/*-- /work section --*/
/*-- /work page --*/
/*-- process page --*/
/*-- tracking cart section --*/
section.shipment-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
.content-w3ls {
	width:100%;
	margin:0 auto;
	height:460px;
	background-color:#F5F5F5;
}
.content1-w3ls {
	background-color:#33accc;
	text-align:center;
	padding:1.7em;
}
.content1-w3ls h2 {
	font-family: Museo;
	text-transform:uppercase;
	margin:0;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}
.content2-w3ls {
	background-color:#b5e6ae;
}
.content2-header1 {
	float:left;
	width:27%;
	text-align:center;
	padding:1.5em;
}
.content2-header1 p {
	font-family: Museo;
	font-size:17px;
	font-weight:700;
	color:#33accc;
	margin:0;
}
.content2-header1 span {
	font-size:15px;
	font-weight:400;
}
.shipment {
	width:100%;
	margin:10% auto;
}
span.line {
    height: 5px;
    width: 90px;
    background-color:#F5998E;
    display: block;
    position: absolute;
    top: 35%;
    left: 45%;
}
.confirm{
	text-align:center;
	width:20%;
	position:relative;
	float:left;
	margin-left:5%;
}
.confirm .imgcircle , .process .imgcircle, .quality .imgcircle {
	background-color:#33accc;
}
.confirm span.line, .process span.line {
	background-color:#33accc; 
}
.content3-w3ls p {
	font-size:15px;
	font-weight:600;
	margin: 8% 0 0 -50%;
} 
.imgcircle {
	height:75px;
	width:75px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	background-color:#F5998E;
	position:relative;
}
.imgcircle img {
	height:30px;
	position:absolute;
	top: 28%;
	left: 30%;
}
.process{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.quality {
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.dispatch{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.delivery {
    position: relative;
    width: 15%;
    text-align: center;
    float: right;
    margin-right: 0;
}
/*-- /tracking cart section --*/

/*-- transit section --*/
section.transit-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
section.transit-w3ls .table>tbody>tr>td,section.transit-w3ls .table>tbody>tr>th,section.transit-w3ls .table>tfoot>tr>td,section.transit-w3ls .table>tfoot>tr>th,section.transit-w3ls .table>thead>tr>td,section.transit-w3ls .table>thead>tr>th {
	padding: 10px;
}
section.transit-w3ls .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #fff;
	font-family: Museo;
    text-transform: uppercase;
}
section.transit-w3ls .table>tbody>tr>td {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:65px;
	text-align:center;
	font-family: Museo;
}
section.transit-w3ls .table>tbody>tr>td img.img-responsive {
	width:70px;
	height:auto;
	float:left;
}
section.transit-w3ls .table>tbody>tr>td h4 {
	float: left;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 0 11px;
    font-weight: bold;
    font-family: Museo;
}
/*-- /transit section --*/
/*-- /process page --*/
/*-- contact page --*/
/*-- contact address --*/
section.contact-us {
	
}
section.contact-us p.text-center { 
	font-size:17px;
	padding:0 0 40px;
	color:#999;
}
section.contact-us h4 {
    font-size: 20px;
    padding: 20px 0;
    font-weight: bold;
    color: #33ACCC;
	font-family: Museo;
}
section.contact-us p {
	font-size:17px;
	padding:10px 0;
	color:#999;
}
section.contact-us a {
	color:#999;
	text-decoration:none;
}
section.contact-us iframe.googlemaps {
    height:400px;
    width: 100%;
    margin-bottom: 2%;
}
/*-- /contact address --*/
section.contact-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	padding-bottom:50px;
}
section.contact-w3ls label.contact-p1 {
    font-size: 17px;
    font-weight: 300;
    color:#16214e;
    padding-bottom: 10px;
}
.col-lg-6.col-md-6.col-sm-6.contact-agile1,.col-lg-6.col-md-6.col-sm-6.contact-agile2 {
    z-index: 99;
}
section.contact-w3ls p.help-block {
    color:#ff0500!important;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone , section.contact-w3ls input#subject {
	height:50px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone, section.contact-w3ls input#subject ,section.contact-w3ls textarea#message {
	font-size:17px;
	font-weight:normal;
	color:#000;
	background-color:transparent;
	border-radius:0;
	border-color:grey;
	outline:none;
}
section.contact-w3ls button.btn.btn-primary {
	color: #ffffff;
    background-color: #33accc;
    border: 2px solid #33accc;
    font-size: 17px;
    padding: 10px 20px;
    width: 100%;
    margin: 25px 0;
}
section.contact-w3ls button.btn.btn-primary:hover {
    color: #fff;
    background-color: #F5998E;
    border: 2px solid #F5998E;
}
/*-- /contact page --*/
/*-- privacy page --*/
/*-- privacy --*/
.privacy {
	padding:100px 0;
}
.privacy .privacy1 h3 {
	font-size:30px;
	font-weight:normal;
	color:#33accc;
	text-transform:uppercase;
	font-family: Museo;
}
.privacy1-grid,.privacy2-grid{
	margin:3em 0 0;
}
.privacy1-grid ul{
	margin-bottom:2em;
}
.privacy1-grid ul li{
	display:inline-block;
	font-size:1.5em;
	color:#000;
	margin-bottom:1em;
	text-transform:uppercase;
	font-family: 'Exo 2', sans-serif;
}
.privacy1-grid ul li i{
	color:#33accc;
	top: -.5em;
}
.privacy1-grid ul li span,.privacy2-grid1 p{
	display:block;
	font-size:14px;
	color:#999;
	line-height:1.8em;
	margin-top:10px;
	margin-bottom:10px;
	text-transform:capitalize;
	font-family: Museo;
}
.privacy1-grid ul {
    padding: 0 2em 1em;
    border-bottom: 1px solid #E1E1E1;
}
.privacy2-grid1{
	padding:0 2em;
}
.privacy1-grid ul li:nth-child(1) {
    margin-right: 2em;
}
.privacy1-grid ul:nth-child(4){
	padding-bottom:0;
	border-bottom:none;
	margin-bottom:0;
}
.privacy1:nth-child(2){
	margin:3em 0 0;
}
.privacy2-grid1-sub {
    padding-top: 25px;
}
.privacy2-grid1 h4{
	font-size:1.5em;
	color:#000;
	margin:0 0 1em;
	line-height:1.5em;
	font-family: Museo;
	text-transform:uppercase;
}
.privacy2-grid1 h5{
	font-size: 1.2em;
	font-weight:normal;
    color: #222C56;
    margin: 0 0 1em;
	text-transform:uppercase;
	font-family: Museo;
}
.privacy2-grid1-sub:nth-child(2){
	margin:2em 0;
}
/*-- //privacy --*/
/*-- privacy page --*/

/*-- responsive design --*/
@media (max-width:1600px) {
section.work-w3ls  > li:nth-child(1) {
    margin-left: 41em;
} 
.header {
    height: 150px;
}
section.banner-w3ls h2.text-center {
	padding: 330px 0 40px;
}
}

@media (max-width:1440px) {
section.work-w3ls > li:nth-child(1) {
    margin-left: 34.5em;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
	padding-top: 70px;
}
.content-w3ls {
    height: 350px;
}
}

@media (max-width: 1366px) {
section.work-w3ls  > li:nth-child(1) {
    margin-left: 32em;
}
}

@media (max-width: 1280px) {
section.work-w3ls  > li:nth-child(1) {
    margin-left: 28em;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 55px;
}
}

@media (max-width:1080px) {
	.navbar-brand {
    float: none;
	text-align:center;
	padding: 20px 0px 50px;
	display:inline-block;
}

section.banner-w3ls h2.text-center {
	font-size: 60px;
    padding: 300px 0 30px;
}
section.banner-w3ls p.text-center {
    font-size: 16px;
}
section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 40px;
}
section.info-w3ls p.text-center, section.info-w3ls2 p.text-center, section.info-w3ls3 p.text-center {
    font-size: 14px;
}
section.inner-w3ls {
	background-size:initial;
	-webkit-background-size:initial;
	-moz-background-size:initial;
	-o-background-size:initial;
	-ms-background-size:initial;
	min-height:450px;
}
section.banner-w3ls2,section.banner-w3ls3 {
	min-height:600px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    font-size: 50px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
	padding-top:230px;
}
section.inner-w3ls h2.text-center {
	font-size: 50px;
    padding: 195px 0 20px;
}
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center {
    font-size: 40px;
}
section.info-w3ls h3.text-center:after, section.info-w3ls2 h3.text-center:after, section.info-w3ls3 h3.text-center:after,section.about-w3ls h3.text-center:after, section.team-w3ls h3.text-center:after, section.cust-agileits h3.text-center:after, section.service-w3ls h3.text-center:after, section.service-agileits h3.text-center:after, section.work-w3ls h3.text-center:after, section.shipment-w3ls h3.text-center:after, section.transit-w3ls h3.text-center:after, section.contact-us h3.text-center:after, section.contact-w3ls h3.text-center:after,section.special-w3layouts h3.text-center:after {
	width: 22%;
	left:39%;
}
section.about-w3ls p {
	font-size: 14px;
    line-height: 35px;
}
section.about-w3ls, section.team-w3ls, section.cust-agileits, section.service-w3ls, section.service-agileits, section.work-w3ls, section.shipment-w3ls, section.transit-w3ls, section.contact-us, section.contact-w3ls {
    padding: 50px 0 0;
}
section.team-w3ls p.text-center,section.cust-agileits p.text-center,section.service-w3ls p.text-center,section.service-agileits p.text-center,section.work-w3ls p.text-center,section.shipment-w3ls p.text-center,section.transit-w3ls p.text-center,section.contact-us p.text-center,section.contact-w3ls p.text-center,section.special-w3layouts p.text-center {
    font-size: 14px;
	padding-bottom:30px;
}
section.team-w3ls h4 {
    font-size: 15px;
}
section.team-w3ls p.team-p1 {
    font-size: 14px;
}
section.cust-agileits,section.service-agileits,section.work-w3ls,section.transit-w3ls,section.contact-w3ls {
	padding-bottom:50px;
}
.marketing h4 {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 10px;
}
.marketing p.serv-p2 {
    font-size: 14px;
}
.featurette-divider {
    margin: 40px 0;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 22em;
}
section.work-w3ls  > li > a {
	font-size:15px;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    font-size: 55px;
    padding-top: 40px;
}
section.transit-w3ls .table>thead>tr>th {
	font-size:15px;
}
section.transit-w3ls .table>tbody>tr>td h4,section.transit-w3ls .table>tbody>tr>td {
	font-size:15px;
	font-weight:100;
}
section.contact-us p {
    font-size: 15px;
}
section.special-w3layouts img.img-responsive {
    width: 90px;
}
section.special-w3layouts h4.text-center {
    font-size: 19px;
}
section.special-w3layouts p.special-p1 {
    font-size: 14px;
}

}

@media (max-width: 1050px) {
.header {
    height: 150px;
}
section.banner-w3ls h2.text-center {
    font-size: 55px;
    padding: 325px 0 30px;
}

}

@media (max-width:1024px) {


section.service-w3ls p.serv-p1 {
	padding-bottom:30px;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 20em;
}
.header {
    height: 150px;
}
section.banner-w3ls h2.text-center {
    font-size: 50px;
    padding: 300px 0 20px;
}
}

@media (max-width:991px) {
section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 35px;
}
section.banner-w3ls2, section.banner-w3ls3 {
    min-height: 500px;
	background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    padding-top: 180px;
	font-size:40px;
}
.col-md-2.col-sm-4.col-xs-6.cust-w3ls {
    padding-bottom: 30px;
}
.col-md-5.serv-w3layouts,.col-md-5.col-md-pull-7 {
    margin-top: 30px;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
	padding-top:111px;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 20em;
}
section.shipment-w3ls .container:nth-child(2),section.transit-w3ls .container:nth-child(2) {
	width:90%;
}
.content-w3ls {
	height:370px;
}
.content2-header1 p {
	font-size:14px;
}
.content2-header1 {
	width:33%;
}
.privacy {
    padding: 40px 0;
}
.privacy1-grid ul li {
    display: inline;
}
.privacy1-grid ul li i {
	top:3px;
}
.privacy1-grid, .privacy2-grid {
    margin: 2em 0 0;
}
section.special-w3layouts p.special-p1 {
	padding-bottom:30px;
}
section.special-w3layouts {
    padding: 40px 0;

}

@media (max-width:900px) {

section.banner-w3ls h2.text-center {
    font-size: 50px;
    padding: 300px 0 15px;
}
section.info-w3ls, section.info-w3ls2, section.info-w3ls3 {
    padding: 50px 0;
}
section.banner-w3ls2, section.banner-w3ls3 {
    min-height: 400px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    padding-top: 150px;
}
section.shipment-w3ls .container:nth-child(2), section.transit-w3ls .container:nth-child(2) {
    width:95%;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 17em;
}
.delivery {
	width:12%;
}
}

@media (max-width:800px) {

section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center,section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 30px;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 15em;
}
.imgcircle img {
    height: 22px;
    position: absolute;
    top: 32%;
    left: 32%;
}
.imgcircle {
    height: 60px;
    width: 60px;
}
.content2-header1:nth-child(2) p,.content2-header1:nth-child(3) p {
	margin-left:-3px;
}
.content3-w3ls p {
    font-size: 14px;
}
.delivery p {
    margin: 11px 0 0 -36px;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 13em;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 87px;
}
section.shipment-w3ls .container:nth-child(2), section.transit-w3ls .container:nth-child(2) {
    width: 97%;
}
span.line {
	top: 30%;
    left: 41%;
}
.content-w3ls {
    height: 297px;
}
section.transit-w3ls .table>tbody>tr>td img.img-responsive {
    width: 20px;
    height: auto;
    float: none;
}
section.transit-w3ls .table>tbody>tr>td h4 {
	float:none;
	text-align:left;
	margin:0;
}
}

@media (max-width:768px) {
	
section.inner-w3ls h2.text-center {
    font-size: 45px;
    padding: 195px 0 15px;
}
section.inner-w3ls p.text-center {
    font-size: 14px;
	line-height:30px;
}
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center, section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
	padding:20px 0 45px;
}
section.banner-w3ls2,section.banner-w3ls3 {
	background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
section.cust-agileits, section.service-agileits, section.work-w3ls, section.transit-w3ls, section.contact-w3ls {
    padding-bottom: 30px;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 80px;
}
span.line {
	width:80px;
	left:43%;
}
.colorful-tab-menu-item a {
	font-size:16px;
}
section.contact-w3ls label.contact-p1 {
    font-size: 15px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone, section.contact-w3ls input#subject {
    height: 40px;
}
section.contact-w3ls button.btn.btn-primary {
	padding:8px 20px;
}
.privacy .privacy1 h3 {
    font-size: 20px;
}
.privacy1-grid ul li {
	font-size:16px;
}
.privacy2-grid1 h4 {
    font-size: 16px;
}
.privacy2-grid1 h5 {
    font-size: 16px; 
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 12em;
}
section.banner-w3ls h2.text-center {
    font-size: 45px;
    padding: 260px 0 15px;
}
.header {
    height:150px;
}
.bgfader, .bgfader > .image {
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	background-attachment:initial;
}
}

@media (max-width:767px) {
	
}

@media (max-width:736px) {

section.banner-w3ls h2.text-center {
    font-size: 40px;
    padding: 114px 0 0px;
}
section.banner-w3ls p.text-center {
    font-size: 14px;
	line-height:30px;
}
section.banner-w3ls2, section.banner-w3ls3 {
    min-height: 293px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    padding-top: 105px;
}

section.inner-w3ls h2.text-center {
    font-size: 45px;
    padding: 110px 0 0;
}
section.inner-w3ls {
	min-height:265px;
}
section.inner-w3ls p.text-center {
	display:none;
}
.colorful-tab-content.active {
	overflow:visible;
}
.dropdown-menu {
    width: 100%!important;
    text-align: center;
}
.dropdown-menu .track-w3ls input[type="text"] {
	width:230px;
}
.dropdown-menu .track-w3ls button.btn.btn-primary {
	margin-top:1px;
    padding: 7px 20px;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 11em;
}
.content-w3ls {
    height: 1000px;
}
.imgcircle {
    height: 60px;
    margin: 0 auto;
    width: 60px;
}
.confirm,.process,.quality,.dispatch,.delivery {
    width:100%;
    float: none;
    margin: 0 auto;
}
span.line {
	width:5px;
	height:70px;
	left:49.5%;
	top:106%;
}
.content3-w3ls p {
	margin: 15px 0 90px;
}
section.contact-us iframe.googlemaps {
    height: 200px;
}
.header {
    height: 150px;
}
section.special-w3layouts {
    padding: 30px 0;
}

.bgfader, .bgfader > .image {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
}

@media (max-width: 667px) {
section.inner-w3ls h2.text-center {
    font-size: 40px;
    padding: 110px 0 0;
}
section.work-w3ls > li:nth-child(1) {
    margin-left: 9em;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 65px;
}
.confirm {
    margin-top: 85px!important;
}
.content-w3ls {
    height: 1030px;
}

}

@media (max-width: 640px) {
section.info-w3ls i.fa, section.info-w3ls2 i.fa, section.info-w3ls3 i.fa,section.about-w3ls i.fa, section.team-w3ls i.fa, section.cust-agileits i.fa, section.service-w3ls  i.fa, section.service-agileits i.fa, section.work-w3ls i.fa, section.shipment-w3ls i.fa, section.transit-w3ls i.fa, section.contact-us i.fa, section.contact-w3ls i.fa {
	width: 50px;
    height: 50px;
	font-size:20px;
	line-height:50px;
}
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center, section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 25px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
	font-size:30px;
}
section.inner-w3ls h2.text-center {
    font-size: 35px;
    padding: 110px 0 0;
}
section.work-w3ls > li:nth-child(1) {
    margin-left: 8em;
}
section.team-w3ls p.text-center, section.cust-agileits p.text-center, section.service-w3ls p.text-center, section.service-agileits p.text-center, section.work-w3ls p.text-center, section.shipment-w3ls p.text-center, section.transit-w3ls p.text-center, section.contact-us p.text-center, section.contact-w3ls p.text-center,section.special-w3layouts p.text-center {
    font-size: 14px;
    padding-bottom: 20px;
}
section.special-w3layouts h4.text-center {
    font-size: 19px;
	padding:10px 0;
}


.colorful-tab-menu-item a {
    padding: 10px 37px;
}
}

@media (max-width:600px) {
section.about-w3ls, section.team-w3ls, section.cust-agileits, section.service-w3ls, section.service-agileits, section.work-w3ls, section.shipment-w3ls, section.transit-w3ls, section.contact-us, section.contact-w3ls {
    padding: 30px 0 0;
}
section.work-w3ls > li:nth-child(1) {
    margin-left: 6em;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 55px;
	font-size:50px;
}

}

@media (max-width: 568px) {

}

@media (max-width: 480px) {
section.banner-w3ls h2.text-center {
    font-size: 35px;
    padding: 110px 0 0px;
}
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center, section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 20px;
}
.privacy1-grid ul li {
    font-size: 15px;
}
.privacy1-grid ul li span, .privacy2-grid1 p {
	font-size:13px;
}
.privacy2-grid1 h4 {
    font-size: 15px;
}
.privacy2-grid1 h5 {
    font-size: 15px;
}
section.team-w3ls h4 {
    font-size: 15px;
	padding:5px 0;
}
section.team-w3ls p.team-p1 {
	padding-bottom:5px;
}
.ch-grid li:nth-child(2),.ch-grid li:nth-child(3),.ch-grid li:nth-child(4) {
	margin-top:30px;
} 
.marketing h4 {
    font-size: 18px;
    line-height: 35px;
}
.featurette-divider {
    margin: 30px 0 20px;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 35px;
    font-size: 45px;
}
.content2-header1 {
	width:100%;
	padding:0.5em;
}
.content2-header1:nth-child(3) {
	margin-bottom:30px;
}
.content3-w3ls {
    margin-top: 125px;
}
.content-w3ls {
    height: 1065px;
}
section.contact-us h4 {
	padding:20px 0 10px;
}
section.contact-us p {
    font-size: 14px;
}
p.text-center {
	line-height:30px;
}
section.contact-w3ls label.contact-p1 {
    font-size: 14px;
}
section.contact-w3ls button.btn.btn-primary {
	margin:10px 0 25px;
}
section.service-agileits,section.work-w3ls {
	padding-bottom:30px;
}
section.work-w3ls > li:nth-child(1) {
    margin-left: 1em;
}
.dropdown-menu .track-w3ls input[type="text"] {
    width: 80%;
    margin: 0 auto 15px;
}
.dropdown-menu .track-w3ls button.btn.btn-primary {
    margin-top: 1px;
    padding: 6px 20px;
	font-size:16px;
}
.dropdown-menu .login-w3ls input[type="text"],.dropdown-menu .login-w3ls input[type="password"] {
	width:80%;
}
.dropdown-menu .login-w3ls input[type="submit"] {
	font-size:16px;
	padding:8px 20px;
}
.bgfader, .bgfader > .image {
	background-attachment:inherit;
	-webkit-background-size:cover;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}

}

@media (max-width: 414px) {
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center, section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 19px;
	padding: 15px 0 35px;
}	
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    font-size: 27px;
	line-height:40px;
}
section.banner-w3ls2, section.banner-w3ls3 {
    min-height: 245px;
}
section.info-w3ls, section.info-w3ls2, section.info-w3ls3 {
    padding: 30px 0;
}
.privacy2-grid1 h5 {
	line-height:28px;
}
section.work-w3ls > li > a {
    font-size: 15px;
    padding: 10px;
	margin-right:0;
}
section.work-w3ls > li:nth-child(1) {
    margin-left: 1em;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 26px;
    font-size: 40px;
}
span.line {
	left:49%;
}
.col-md-4.col-sm-4.col-xs-6.text-center {
    width: 100%;
}
section.inner-w3ls h2.text-center {
    font-size: 30px;
}
.privacy1-grid ul {
    padding: 0 1em 1em;
}
.privacy2-grid1 {
    padding: 0 1em;
}

.bgfader, .bgfader > .image {
    background-attachment: inherit;
    -webkit-background-size:cover;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}

}

@media (max-width: 384px) {
section.banner-w3ls h2.text-center {
    font-size: 30px;
    padding: 110px 0 0px;
}
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center, section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 19px;
    padding: 15px 0 35px;
    line-height: 35px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    font-size: 22px;
    line-height: 40px;
}
.col-md-2.col-sm-4.col-xs-6.cust-w3ls {
    padding-bottom: 30px;
    width: 100%;
}
section.service-w3ls h5 {
	font-size:16px;
	padding:20px 0 7px;
}
section.work-w3ls  > li > a {
    font-size: 14px;
    padding: 10px;
    margin-right: 0;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 20px;
    font-size: 40px;
}
.content1-w3ls h2 {
	font-size:17px;
}
.content3-w3ls p {
    margin: 5px 0 90px;
}
.content-w3ls {
    height: 1000px;
}
section.contact-us p {
    font-size: 14px;
    line-height: 30px;
    padding: 3px 0;
}

}

@media (max-width: 375px) {
section.banner-w3ls h2.text-center {
    font-size: 30px;
    padding: 100px 0 0px;
}
section.inner-w3ls h2.text-center {
    font-size: 30px;
    padding: 110px 0 0;
}
section.work-w3ls  > li:nth-child(1) {
    margin-left: 5px;
}
.col-md-3.col-sm-6.col-xs-6.portfolio-grids {
    width: 100%;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 75px;
    font-size: 50px;
}
section.work-w3ls  {
	margin:0 0 25px;
}

section.special-w3layouts h4.text-center {
    font-size: 18px;
    padding: 10px 0;
}
}

@media (max-width: 320px) {

section.banner-w3ls h2.text-center {
    font-size: 25px;
    padding: 72px 0 0px;
	line-height:60px;
}
section.banner-w3ls p.text-center {
    font-size: 13px;
    line-height: 27px;
}
section.about-w3ls h3.text-center, section.team-w3ls h3.text-center, section.cust-agileits h3.text-center, section.service-w3ls h3.text-center, section.service-agileits h3.text-center, section.work-w3ls h3.text-center, section.shipment-w3ls h3.text-center, section.transit-w3ls h3.text-center, section.contact-us h3.text-center, section.contact-w3ls h3.text-center, section.info-w3ls h3.text-center, section.info-w3ls2 h3.text-center, section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
    font-size: 17px;
    padding: 15px 0 35px;
    line-height: 28px;
}
section.info-w3ls p.text-center, section.info-w3ls2 p.text-center, section.info-w3ls3 p.text-center {
    font-size: 13px;
}
section.banner-w3ls2 h3.text-center, section.banner-w3ls3 h3.text-center {
    font-size: 20px;
    line-height: 30px;
}
section.inner-w3ls h2.text-center {
    font-size: 23px;
    padding: 100px 0 0;
}
section.about-w3ls p {
    font-size: 13px;
    line-height: 28px;
}
section.team-w3ls p.text-center, section.cust-agileits p.text-center, section.service-w3ls p.text-center, section.service-agileits p.text-center, section.work-w3ls p.text-center, section.shipment-w3ls p.text-center, section.transit-w3ls p.text-center, section.contact-us p.text-center, section.contact-w3ls p.text-center,section.special-w3layouts p.text-center {
    font-size: 13px;
    padding-bottom: 20px;
	line-height:28px;
}
section.team-w3ls h4 {
    font-size: 14px;
    padding: 5px 0;
}
section.team-w3ls p.team-p1 {
    font-size: 13px;
}
section.service-w3ls h5 {
    font-size: 15px;
    padding: 20px 0 7px;
}
section.service-w3ls p.serv-p1 {
    font-size: 13px;
	line-height:28px;
}
.marketing h4 {
    font-size: 16px;
    line-height: 30px;
}
.marketing p.serv-p2 {
    font-size: 13px;
}
section.work-w3ls  > li > a {
    font-size: 13px;
    padding: 6px;
}
section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    padding-top: 60px;
    font-size: 45px;
}
.content1-w3ls h2 {
    font-size: 14px;
}
.content2-header1 span {
    font-size: 14px;
    font-weight: 400;
}
section.transit-w3ls .table>tbody>tr>td h4, section.transit-w3ls .table>tbody>tr>td {
    font-size: 13px;
    font-weight: 100;
}
section.banner-w3ls2, section.banner-w3ls3 {
    background-attachment: inherit;
}
.dropdown-menu .track-w3ls h3 {
    font-size: 16px;
}
.dropdown-menu .track-w3ls input[type="text"],.dropdown-menu .login-w3ls input[type="text"], .dropdown-menu .login-w3ls input[type="password"] {
	font-size:15px;
}
.dropdown-menu .track-w3ls p.track-p1 {
    font-size: 16px;
}
.dropdown-menu .track-w3ls p.track-p2 a {
    font-size: 14px;
}
.dropdown-menu .login-w3ls h3 {
    font-size: 16px;
}
.dropdown-menu .login-w3ls input[type="submit"] {
	font-size:15px;
}
section.contact-w3ls label.contact-p1 {
    font-size: 13px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone, section.contact-w3ls input#subject, section.contact-w3ls textarea#message {
    font-size: 13px;
}
section.contact-w3ls button.btn.btn-primary {
	font-size:14px;
}
section.inner-w3ls {
    min-height: 230px;
}
.header {
    height: 155px;
}
section.special-w3layouts h3.text-center {
    font-size: 22px;
}
section.special-w3layouts h4.text-center {
    font-size: 17px;
    padding: 10px 0;
}
section.special-w3layouts p.special-p1 {
    font-size: 13px;
}


}









