.socal{
	font-size: 35px !important;
	padding: 0px 0px;
	color: #002A44;
	border-radius: 3px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.socal:hover{
	animation: bounce 1s;
}
.header {
	padding:3.1em 3em 0em 3em !important; 
}
nav.navbar.navbar-default.navbar-fixed-top {
	background-color: #FF000D;
	border: none;
	margin-bottom: 0px;
	height: 50px;
}
ul.nav.navbar-nav.centered {
	margin: 1em 0 0 0em;
}
.navbar-default .navbar-nav > .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus {
    color:#fff;
}
.col-md-6.header-right{
	text-align: right;
    margin-top: 2%;
}
.header-right ul li{
	list-style:none;
	display:inline-block;
	margin:0 5px;
}
.header-right ul li span{
	background:url(../images/social.png) no-repeat;
	width:34px;
	height:34px;
	display:block;
}
.header-right ul li span:hover{
	transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.header-right ul li span.fb{
	background-position:0px 0px;
}
.header-right ul li span.twitter{
	background-position:-34px 0px;
}
.header-right ul li span.google{
	background-position:-68px 0px;
}
.header-right ul li span.rss{
	background-position:-102px 0px;
}

.header-right ul li span {
    width: 31px;
    height: 31px;
    background-size: 400%;
}
.header-right ul li span.twitter {
    background-position: -31px 0px;
}
.header-right ul li span.google {
    background-position: -62px 0px;
}
.header-right ul li span.rss {
    background-position: -93px 0px;
}

.header-right ul li {
    margin: 0 3px;
}
.header-right {
    margin-top: 2.5%;
}
.header-right ul li span {
    width: 28px;
    height: 28px;
}
.header-right ul li span.twitter {
    background-position: -28px 0px;
}
.header-right ul li span.google {
    background-position: -56px 0px;
}
.header-right ul li span.rss {
    background-position: -84px 0px;
}

@media (max-width:480px){
	.header-left {
	    width: 60%;
	    padding: 0;
	    float: left;
	}
	.header-right {
		width: 40%;
		margin-top: 7% !important;
		float: right;
	}
	.socal{
		font-size: 15px !important;
		padding: 5px;
		background-color: #002A44;
		color: #fff;
		border-radius: 3px;
	}
}

@media (max-width:680px){
	.header-left {
	    width: 60%;
	    padding: 0;
	    float: left;
	}
	.header-right {
		width: 40%;
		margin-top: 7% !important;
		float: right;
	}
	.socal{
		font-size: 15px !important;
		padding: 5px;
		background-color: #002A44;
		color: #fff;
		border-radius: 3px;
	}
}

@media (max-width:880px){
	.header-left {
	    width: 60%;
	    padding: 0;
	    float: left;
	}
	.header-right {
		width: 40%;
		margin-top: 7% !important;
		float: right;
	}
	.socal{
		font-size: 15px !important;
		padding: 5px;
		background-color: #002A44;
		color: #fff;
		border-radius: 3px;
	}
}

@media (max-width:990px){
	.header-left {
	    width: 60%;
	    padding: 0;
	    float: left;
	}
	.header-right {
		width: 40%;
		margin-top: 2.8%;
		float: right;
	}
	.socal{
		font-size: 15px !important;
		padding: 5px;
		background-color: #606060;
		color: #fff;
		border-radius: 3px;
		display: inline-block !important;
	}
}